* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Comic Neue";
}

.navbar .abas {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
    font-size: 19px;
    height: 70px;
}

.abas .paginas_2 {
    margin-right: 30px;
}

.abas .paginas_1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 80px;
}

.abas a {
    text-decoration: none;
    color: black;
}

/* Início index */

.container_index {
    display: flex;
    flex-direction: column;
}

.container_index .banner_principal {
    display: flex;
    width: 100%;
    height: 700px;
    background-size: cover;
    background-position: center;
    background-image: url(./img/icons/banner.png);
    border-bottom: 5px solid red;
}

.container_index .sobre_titulo {
    justify-content: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 50px;
    margin-top: 100px;
}

.container_index .sobre_texto {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    text-align: center;
    margin-bottom: 50px;
}


/* Início Cadastro */

.formulario {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 12px;
    background-image: url("./img/icons/fundo.png");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding: 70px;
    height: 750px;
} 

.titulo {
    display: flex;
    justify-content: center;
}

.imagem_cadastro {
    display: flex;
    justify-content: center;
    height: 85px;
}

.formulario_titulo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 8%;
    font-size: 20px;
    font-family: 'Comic Neue', cursive;
    font-weight: 200;
    font-style: normal;
}

.formulario_titulo h1 {
    font-weight: 500;
    font-size: 50px;
}

.conteudo {
    background-color: white;
    width: 450px;
    border-radius: 10px;
    height: 50;
    width: 50;
    margin-top: 50;
    margin-bottom: 50;
    padding: 5px;
}

.campos {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
}

.campos input {
    border-radius: 3px;
    border: 0;
    background-color: #D9D9D9;
    width: 350px;
    height: 29px;
    padding-left: 5px;
}

.campos button {
    background-color: red;
    color: white;
    font-family: 'Comic Neue';
    width: 250px;
    height: 35px;
    border-radius: 4px;
    font-size: 19px;
}

.campos .conta {
    margin-top: 15px;
    font-size: 13px;
}

.conta a {
    color: red;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 14px;
}

.footer .titulo {
    display: flex;
    margin-left: 50px;
}

.footer .redes {
    display: flex;
    justify-content: space-between;
    margin-right: 50px;
    gap: 20px;
}

/* Início Login */

.formulario_login {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 12px;
    background-image: url("./img/icons/fundo.png");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding: 70px;
    height: 600px;
}

.imagem_login {
    display: flex;
    justify-content: center;
    height: 85px;
}

.campos_login {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
}

.campos_login input {
    border-radius: 3px;
    border: 0;
    background-color: #D9D9D9;
    width: 350px;
    height: 29px;
    padding-left: 5px;
}

.campos_login button {
    background-color: red;
    color: white;
    font-family: 'Comic Neue';
    width: 250px;
    height: 35px;
    border-radius: 4px;
    font-size: 19px;
}

.campos_login .conta p {
    margin-top: 15px;
    font-size: 13px;
    text-align: center;
}

.campos_login .email {
    margin-bottom: 8px;
}

.footer_login {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 14px;
}

.footer_login .titulo {
    display: flex;
    margin-left: 50px;
}

.footer_login .redes {
    display: flex;
    justify-content: space-between;
    margin-right: 60px;
    gap: 20px;
}

/* Início Dashboard */

.navbar_dash {
    display: flex;
    background-color: #889CB4;
    width: 150px;
}

.navbar_dash .campos {
    display: flex;
    gap: 110px;
    margin-left: 10px;
    height: 730px;
    align-items: center;
    text-align: center;
}

.navbar_dash .campos a {
    text-decoration: none;
    color: black;
    margin-bottom: 20px;
}

.navbar_dash .campos1 {
    display: flex;
    flex-direction: column;
    gap: 50px;
    height: 500px;
    align-items: center;
}

.navbar_dash .perfil div {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    border-radius: 100%;
    color: white;
    width: 65px;
    height: 65px;
    font-size: 20px;
}

.campos1 .bem_vindo {
    font-weight: bold;
}

.container {
    display: flex;
}

.container .dash {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 30px;
}

.container .titulo {
    display: flex;
    font-size: 60px;
    justify-content: center;
    padding-top: 35px;
}

.dashboard {
    display: flex;
    margin-left: 30px;
    margin-right: 20px;
    color: rgba(255, 192, 203, 0.704);
    flex-direction: row;
    gap: 70px;
}

.container .parte_cima {
    display: flex;
    gap: 50px;
    flex-direction: column;
}

.dashboard .dash1 {
    display: flex;
}

.container .canvas {
    width: 650px;
}

.dashboard .dash2 {
    display: flex;
}

.container .canvas2 {
    width: 590px;
}